.machineKey-page {
  .machineKey-section {
    background-color: $whitesmoke;
  }
	.add-machineKeys{
		padding: 10px;
	}
  .space-right {
    margin-right: .75rem;
  }

  .title.is-1 {
    color: $dark-grey;
    margin-bottom: 20px;
  }

  .icon {
    vertical-align: middle;

    .fa {
      text-align: left;
      width: 21px;
    }

    .fa-pencil-alt,
    .fa-save {
      color: $green;
    }

    .fa-ban,
    .fa-trash-alt {
      color: $red;
    }

    &:hover {
      cursor: pointer;
    }
  }

	.machineKey-notice{
		text-align: center;
	}

	.confirm-modal {
    .modal-content {
      max-width: 400px;
    }
  }
}
